@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
		@apply font-default;
  	scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		color-scheme: dark;
  }	
	body {
		min-height: 100vh;
	}
}
